.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background-color: black;
  margin-bottom: 1px;
  border-bottom: 2px;
}
.topbar li {
  color: white;
  display: inline;
}
.chords {
  left: 0;
  width: 50%;
  float: left;
}
.progressions {
  float: right;
}